%p= "Name : #{@subscription.name}"
%p= "Email : #{@subscription.email}"
%p= link_to 'Edit', edit_plan_subscription_path(@plan, @subscription), class: 'btn btn-warning btn-xs'
%br
%p= link_to 'Home', root_path, class: 'btn btn-default'
